@import url("reset.css");
@import url("fonts.css");


body{
   margin: 0 auto;
   max-width: 1440px;
   font-family: "Poppins"; 
   font-weight: 300;
   color: #495057;

}
.pic1{
   

}

.firstpart{
   margin: 0 auto;
   max-width: 816px;
    /* background-color: green; */
}

h2{
   padding: 30px 0px;
   font-family: "Poppins",serif;
   font-weight: 700;
   line-height: 1.6;
}

.underh{
   margin-bottom: 20px;
}

.explain{
   border-top: 2px solid #E5E5E5;
   margin-bottom: 100px;
}

.itemsul{
   font-size: 0;

}

.itemsli{
   font-size: 16px;
   display: inline-block;
   padding: 25px 50px 0px 0px;
}

.secondpart{
   margin-bottom: 100px;
}

img{
   width: 100%;
}
p{
   margin: 0 0 35px 0;
}

.textsec{
   margin: 0 auto;
   max-width: 816px;
   padding-top: 100px;
}

.thirdpart{
   margin: 0 auto;
   max-width: 816px;

}

.h2{
   max-width: 420px;

}

.pic-2-3{
   /* background-color: green; */
   font-size: 0;
   margin-bottom: 100px;
   
}
.pic2 {
   display: inline-block;
   width: 50%;
   padding: 0px 15px;

}
.pic3 {
   display: inline-block;
   width: 50%;
   padding: 0px 15px;
}

.textthird{
   margin: 0 auto;
   max-width: 816px;
}