@import url("reset.css");
@import url("fonts.css");

/* body{
   /* margin: 0px auto;
   max-width: 1240px;
   font-family: "Poppins", serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 25px;(коментую із за практики під макетом)
} */

h2{
   font-family: "Popins" serif;
   font-weight: 700;
   font-size: 25px;
   line-height: 40px;
}

p{
   margin-bottom: 20px;   
}

 .common {
   margin: 0px auto;
   max-width: 1240px;
   font-family: "Poppins", serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 25px;
 
} 

.common-1 {
    margin-left: 250px;
}

.par1 {
   max-width: 400px;
   max-height: 80px;
   margin-bottom: 40px;
}

.text {
   color: #6C757D;
   max-width: 816px; 
   
}

.picture1 {
   margin: 80px 0px;
}

.par2{
   max-width: 650px;
   max-height: 120px;
   font-size: 25px;
   line-height: 40px;
   margin-bottom: 40px;
}

.common-2 {
   max-width: 816px; 
   margin-left: 250px;
}

.picture2 {
   font-size: 0;
   margin: 80px 0px;
   
}
.boat {
   display: inline; 
   
}
.landscape {
   display: inline;
   margin: 30px;
   
}
.common-3 {
   margin: 0px 0px 300px 250px;
   
}
/*знаю що щось наплужив з цим останнім параграфом,
але просто вже заплутався, після того як 
вирівняв 2 картинки. 
Чи вірно сформован останній параграф?*/

.otherinfo {
   margin: 0px auto;
   max-width: 900px
   
}
.firstul {
   background-color: #b7bfc6;
   margin-bottom: 25px;
}

.info {
   font-size: 0;

}

.infolist{
   display: inline-block;
   color: #000;
   font-size: 18px;
   padding: 10px;
   margin-left: 52px;
}

.secondul {
   /* display: inline-block; */
   text-align: center;

}

h3{
   display: inline-block;
   font-size: 25px;
   width: 280px;
   text-align: center;
   margin-bottom: 10px;
}


.socialul{
   font-size: 0px;
}

.social{
   display: inline-block;
   margin: 0px 10px;
} 

.pic{
   width: 50px;
}



